<a href="https://colab.research.google.com/github/suelenlass/colab_pandas_DIO/blob/main/Aula_02_Pandas_DIO.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [ ]:
df1=pd.read_excel("/content/drive/MyDrive/Datasets - DIO/datasets/Aracaju.xlsx")
df2=pd.read_excel("/content/drive/MyDrive/Datasets - DIO/datasets/Fortaleza.xlsx")
df3=pd.read_excel("/content/drive/MyDrive/Datasets - DIO/datasets/Natal.xlsx")
df4=pd.read_excel("/content/drive/MyDrive/Datasets - DIO/datasets/Recife.xlsx")
df5=pd.read_excel("/content/drive/MyDrive/Datasets - DIO/datasets/Salvador.xlsx")

In [ ]:
#concatenar um arquivo abaixo do outro
df = pd.concat([df1,df2,df3,df4,df5])

In [ ]:
df.head()

    Cidade       Data  Vendas  LojaID  Qtde
0  Aracaju 2018-01-01  142.00    1520     1
1  Aracaju 2018-01-01   14.21    1522     6
2  Aracaju 2018-01-01   71.55    1520     1
3  Aracaju 2018-01-01    3.01    1521     7
4  Aracaju 2018-01-01   24.51    1522     8

In [ ]:
df.tail()

       Cidade       Data  Vendas  LojaID  Qtde
235  Salvador 2019-01-03   41.84    1034     1
236  Salvador 2019-01-03  126.29    1035     3
237  Salvador 2019-01-03   38.06    1036     3
238  Salvador 2019-01-03  139.64    1035     1
239  Salvador 2019-01-03  161.41    1037     3

In [ ]:
df.dtypes

Cidade            object
Data      datetime64[ns]
Vendas           float64
LojaID             int64
Qtde               int64
dtype: object

In [ ]:
#alterando tipo de dado
df["LojaID"] = df["LojaID"].astype("object")

In [ ]:
df.dtypes

Cidade            object
Data      datetime64[ns]
Vendas           float64
LojaID            object
Qtde               int64
dtype: object

In [ ]:
#verificar valores nulos
df.isnull().sum()

Cidade    0
Data      0
Vendas    0
LojaID    0
Qtde      0
dtype: int64

In [ ]:
#substituindo os valores nulos pela média
df["Vendas"].fillna(df["Vendas"].mean(), inplace=True ) #SE TIVESSE VALORES NULOS EM VENDAS

In [ ]:
#substituir por 0
df["Vendas"].fillna(0, inplace=True )

In [ ]:
#remover linhas que estejam com valores faltantes em todas as colunas
df.dropna(how="all",inplace=True)

In [ ]:
#Criando uma nova coluna Receita
df["Receita"] = df["Vendas"].mul(df["Qtde"]) #.mul de multiplicar - uma coluna pela outra

In [ ]:
df.head()

    Cidade       Data  Vendas LojaID  Qtde  Receita
0  Aracaju 2018-01-01  142.00   1520     1   142.00
1  Aracaju 2018-01-01   14.21   1522     6    85.26
2  Aracaju 2018-01-01   71.55   1520     1    71.55
3  Aracaju 2018-01-01    3.01   1521     7    21.07
4  Aracaju 2018-01-01   24.51   1522     8   196.08

In [ ]:
#nlargest - retorna os maiores valores na quantidade de linha desejada com base na coluna escolhida
df.nlargest(3, "Receita")

   Cidade       Data  Vendas LojaID  Qtde  Receita
7   Natal 2019-03-18   886.0    853     4   3544.0
51  Natal 2018-01-21   859.0    852     4   3436.0
55  Natal 2019-01-08   859.0    854     4   3436.0

In [ ]:
#nsmallest - retorna os menores valores na quantidade de linha desejada com base na coluna escolhida
df.nsmallest(3, "Receita")

      Cidade       Data  Vendas LojaID  Qtde  Receita
118  Aracaju 2018-01-01    3.34   1522     1     3.34
65    Recife 2019-01-01    4.01    981     1     4.01
92     Natal 2019-01-02    4.57   1035     1     4.57

In [22]:
# TRABALHANDO COM DATAS

In [23]:
#Transformando coluna de data em data
df["Data"] = pd.to_datetime(df["Data"])

In [24]:
df.dtypes

Cidade             object
Data       datetime64[ns]
Vendas            float64
LojaID             object
Qtde                int64
Receita           float64
dtype: object

In [25]:
#agrupamento por ano para ver a receita anual
df.groupby(df["Data"].dt.year)["Receita"].sum()

Data
2018    118176.53
2019    228246.45
Name: Receita, dtype: float64

In [26]:
#criar nova coluna, extraindo o mes e dia
df["mes_venda"], df["dia_venda"] = (df["Data"].dt.month, df["Data"].dt.day)